* {
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #9ed69e;
}
@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
$color-primary-light: #c5f5b69d;
$color-primary-dark: #869e6b;
$color-primary-dark-1: #6b839e;
$color-text-dark: #333;
nav {
  margin: 30px;
  background-color: var(--color-primary);
  background-color: $color-primary-light;
  text-align: center;
  padding: 3rem;
}
