@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin tableLayout {
  background-color: orangered;
  float: left;
  &:not(:last-child) {
    margin-right: $gutter-horizontal;
  }
}
