.form {
  &__group {
    margin: 2rem 0;
    position: relative;

    &:focus-within {
      & > label {
        top: -1.5rem;
        left: 1rem;
        font-size: 1.2rem;
        color: $light_green;
        opacity: 1;
      }
    }
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  &__input {
    font-size: 1.5rem;
    color: inherit;
    border: none;
    font-family: inherit;
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    width: 90%;
    display: block;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    @include respond(tab-port) {
      width: 100%;
    }

    &:focus:invalid {
      border-bottom: 1px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-dark-grey;
    }
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 1px solid $light_green;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    display: block;
    margin-left: 2rem;
    margin-top: 1.2rem;
    transition: all 0.3s;
    position: absolute;
    top: 1rem;
    left: 2rem;
    opacity: 0;
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.5rem;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  &__radio-input {
    display: none;
  }
  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    margin-right: 1rem;
    position: relative;
    padding-left: 4.5rem;
  }
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $light_green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -0.4rem;
    left: 0;
    &::after {
      content: "";
      border-radius: 50%;
      display: block;
      position: absolute;
      height: 1.5rem;
      width: 1.5rem;
      background-color: $light_green;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $light_green;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
