.header {
  height: 94vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($light_green, 0.8),
      rgba($dark_green, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    .header__logo {
      height: 3.5rem;
      fill: $color-white; // Dodano średnik
    }
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .header__primary {
      color: $color-white; // Dodano średnik
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 6rem;

      &--main {
        animation: moveInLeft 1s ease-out;
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3rem;
        @include respond(phone) {
          letter-spacing: 1rem;
          font-size: 4rem;
        }
      }
      &--sub {
        animation: moveInRight 1s ease-out;
        display: block;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        @include respond(phone) {
          letter-spacing: 0.5rem;
          font-size: 4rem;
        }
      }
    }
  }
}
